In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##Tratamento de Missings

In [6]:
df_hatco = pd.read_csv('hatco_csv.csv', sep =';', decimal = ',')
df_hatco.head()

,id,velocidade_entrega,nivel_preco,flexibilidade_preco,imagem_fornecedor,qualidade_servico,imagem_forca_vendas,qualidade_produto,tamanho_firma,nivel_uso,nivel_satisfacao,area_industria
0,1,4.1,0.6,6.9,4.7,2.4,2.3,5.2,pequena,32.0,4.2,industria
1,2,1.8,3.0,6.3,6.6,2.5,4.0,8.4,grande,43.0,4.3,outra_area
2,3,3.4,5.2,5.7,6.0,4.3,2.7,8.2,grande,48.0,5.2,industria
3,4,2.7,1.0,7.1,5.9,1.8,2.3,7.8,grande,32.0,3.9,industria
4,5,6.0,0.9,9.6,7.8,3.4,4.6,4.5,pequena,58.0,6.8,industria

In [7]:
df_hatco.tail()

,id,velocidade_entrega,nivel_preco,flexibilidade_preco,imagem_fornecedor,qualidade_servico,imagem_forca_vendas,qualidade_produto,tamanho_firma,nivel_uso,nivel_satisfacao,area_industria
165,266,4.2,2.4,9.4,4.9,3.2,2.7,8.5,pequena,49.0,5.2,industria
166,267,3.8,0.8,NaN,NaN,2.2,2.6,5.3,pequena,42.0,5.1,outra_area
167,268,3.3,2.6,9.7,3.3,2.9,1.5,5.2,pequena,47.0,NaN,industria
168,269,NaN,1.9,NaN,4.5,1.5,3.1,9.9,grande,39.0,3.3,industria
169,270,4.5,1.6,8.7,4.6,3.1,2.1,6.8,pequena,56.0,5.1,outra_area

Entedimento do numero missing por linha

In [8]:
missings_por_linha = pd.DataFrame({'id': df_hatco['id'].tolist(),
                                   'n_missings' : df_hatco.isna().sum(axis=1).tolist()})

In [9]:
missings_por_linha

      id  n_missings
0      1           0
1      2           0
2      3           0
3      4           0
4      5           0
..   ...         ...
165  266           0
166  267           2
167  268           1
168  269           2
169  270           0

[170 rows x 2 columns]

In [10]:
n_colunas = df_hatco.shape[1] -1
n_colunas

11

Calculo do percentual

In [11]:
missings_por_linha \
    .assign( perc_missings = missings_por_linha['n_missings'] / n_colunas ) \
    .sort_values('perc_missings', ascending = False) \
    .head(10)

      id  n_missings  perc_missings
109  210           7       0.636364
162  263           7       0.636364
160  261           6       0.545455
113  214           6       0.545455
132  233           5       0.454545
144  245           5       0.454545
123  224           3       0.272727
103  204           3       0.272727
120  221           3       0.272727
106  207           3       0.272727

In [12]:
missings_por_coluna = df_hatco.isna().sum()
missings_por_coluna

id                      0
velocidade_entrega     21
nivel_preco            13
flexibilidade_preco    17
imagem_fornecedor       7
qualidade_servico       9
imagem_forca_vendas     6
qualidade_produto       9
tamanho_firma           2
nivel_uso               9
nivel_satisfacao        7
area_industria          1
dtype: int64

In [13]:
missings_por_coluna = pd.DataFrame(missings_por_coluna,
                                   columns=['n']) \
                                   .reset_index() \
                                   .rename(columns={'index': 'variaveis'})

In [14]:
missings_por_coluna

              variaveis   n
0                    id   0
1    velocidade_entrega  21
2           nivel_preco  13
3   flexibilidade_preco  17
4     imagem_fornecedor   7
5     qualidade_servico   9
6   imagem_forca_vendas   6
7     qualidade_produto   9
8         tamanho_firma   2
9             nivel_uso   9
10     nivel_satisfacao   7
11       area_industria   1

In [15]:
n_linhas = df_hatco.shape[0]
n_linhas

170

Vamos obter o missings por colunas/ linhas para buscarmos o % de missings

In [16]:
missings_por_coluna \
.assign( perc_missings = missings_por_coluna['n'] / n_linhas) \
.sort_values('n', ascending=False)

              variaveis   n  perc_missings
1    velocidade_entrega  21       0.123529
3   flexibilidade_preco  17       0.100000
2           nivel_preco  13       0.076471
5     qualidade_servico   9       0.052941
9             nivel_uso   9       0.052941
7     qualidade_produto   9       0.052941
10     nivel_satisfacao   7       0.041176
4     imagem_fornecedor   7       0.041176
6   imagem_forca_vendas   6       0.035294
8         tamanho_firma   2       0.011765
11       area_industria   1       0.005882
0                    id   0       0.000000

Outra forma é comparando as variáveis qualitativas

In [17]:
df_hatco['tamanho_firma'] \
    .value_counts(dropna=False) \
    .to_frame('n') \
    .reset_index() \
    .rename(columns={'index' : 'tamanho_frima'})

  tamanho_firma    n
0       pequena  103
1        grande   65
2           NaN    2

Tratamento de variáveis qualitativas (Comparação)

In [18]:
pd.crosstab(df_hatco.tamanho_firma.fillna('NA'),
            df_hatco.area_industria.fillna('NA'))

area_industria  NA  industria  outra_area
tamanho_firma
NA               0          0           2
grande           1         32          32
pequena          0         51          52

Tratamento de variáveis quantitativas (Comparação)

In [19]:
df_hatco[['velocidade_entrega', 'qualidade_produto']].corr()

                    velocidade_entrega  qualidade_produto
velocidade_entrega            1.000000          -0.404352
qualidade_produto            -0.404352           1.000000

Agora vamos atribuir o valo zero para os misisngs, para analisar se teremos muita diferença

In [20]:
df_hatco[['velocidade_entrega', 'qualidade_produto']].fillna(0).corr()

                    velocidade_entrega  qualidade_produto
velocidade_entrega             1.00000           -0.12319
qualidade_produto             -0.12319            1.00000

Tratamento

Eliminação Missings

In [21]:
df_hatco.shape

(170, 12)

In [22]:
df_hatco \
.dropna() \
.shape

(126, 12)

Outra forma é colocar o valor mais frequente no missing value

In [23]:
df_hatco['area_industria'] \
.value_counts(dropna=False) \
.to_frame('n') \
.reset_index() \
.rename(columns={'index': 'area_industria'})

  area_industria   n
0     outra_area  86
1      industria  83
2            NaN   1

Vamos colocar OUTRA_AREA no lugar NAN, pois é o valor mais frequente

In [24]:
df_hatco['area_industria'] \
    .fillna('outra_area') \
    .value_counts(dropna=False) \
    .to_frame('n') \
    .reset_index() \
    .rename(columns={'index': 'area_industria'})

  area_industria   n
0     outra_area  87
1      industria  83

##Tratamento de Outliers

In [25]:
from sklearn.preprocessing import scale
from sklearn.covariance import EmpiricalCovariance, MinCovDet

In [27]:
df_creditos = pd.read_csv('dados_credito_small.csv')
df_creditos

,id,idade,educacao,tipo_emprego,renda,divida,outras_div,default,educacao_cat,idade_cat,renda_cat
0,1,41,3,18,176,10.3,5.01,nao_pagou,ensin_sup,acima_40,"(54,446]"
1,2,27,1,10,31,17.3,4.00,pagou,ensin_basico,abaixo_30,"(24,34]"
2,3,40,1,15,55,5.5,2.17,pagou,ensin_basico,entre_30_40,"(54,446]"
3,4,41,1,15,120,2.9,0.82,pagou,ensin_basico,acima_40,"(54,446]"
4,5,24,2,2,28,17.3,3.06,nao_pagou,ensin_medio,abaixo_30,"(24,34]"
...,...,...,...,...,...,...,...,...,...,...,...
495,496,47,2,4,33,7.1,1.15,nao_pagou,ensin_medio,acima_40,"(24,34]"
496,497,30,2,12,98,7.2,4.12,pagou,ensin_medio,abaixo_30,"(54,446]"
497,498,44,2,12,86,13.0,9.70,pagou,ensin_medio,acima_40,"(54,446]"
498,499,25,1,0,18,18.9,2.89,nao_pagou,ensin_basico,abaixo_30,"[14,24]"
499,500,41,2,7,36,19.5,2.57,nao_pagou,ensin_medio,acima_40,"(34,54]"